.navbar-dark .navbar-brand {
  color:red
}
.jumbotron{
  background-image: url("kane.gif");
  background-size: cover;
  height: 600px
}
.jumbotron img{
  width: 100px;
}
.display-4{
  font-weight: bolder;
}
table{
  text-align: center;
}
.header{
  font-weight: bold;
}
